       * {
            margin: 0;
            padding: 0;
        }

        .navbar {
            display: flex;
            position: sticky;
        }

        .logo h1 {
            color: white;
            background-color: black;
            display: inline-block;
            margin: 7px 12px;
            border: 2px solid black;
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            .logo h1 {}
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .logo h1 {
                font-size: 24px;
            }
        }

        @media (max-width: 300px) {
            .logo h1 {
                font-size: 24px;
            }
        }

        .logo span {
            background-color: yellow;
            color: black;
            border: 2px solid yellow;
            /* margin: 7px 12px; */
        }

        .navbar ul {
            display: flex;
            align-items: center;
            margin: auto;
            /* width: 12%; */
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            .navbar ul {
                flex-direction: column;
            }
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .navbar ul {
                flex-direction: column;
            }
        }

        @media (max-width: 300px) {
            .navbar ul {
                flex-direction: column;
            }
        }

        .navbar ul li {
            list-style: none;
            margin: 14px 19px;
            border-radius: 9px;
        }

        .navbar ul li:hover {
            background-color: #1b1919;
            color: white;
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            .navbar ul li {
                margin: 6px 3px;

            }
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .navbar ul li {
                margin: 6px 3px;

            }
        }

        @media (max-width: 300px) {
            .navbar ul li {
                margin: 6px 3px;

            }
        }

        .navbar ul li a {
            text-decoration: none;
            padding: 8px 15px;
            font-size: 20px;
            color: rgb(255, 249, 249);
        }

        .num {
            margin: 5px 18px;
            padding: 3px 9px;
            background-color: black;
            color: white;
            cursor: pointer;
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            .num {
                display: none;
            }
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .num {
                display: none;
            }
        }

        @media (max-width: 300px) {
            .num {
                display: none;
            }
        }


        .num:hover {
            text-decoration: underline;
        }

        .num img {
            width: 29px;
            margin: -10px 1px
        }

        .home {
            display: flex;
            flex-direction: column;
            margin: 2px 5px;
        }

        .home::before {
            content: "";
            position: absolute;
            background: url("https://cdn.pixabay.com/photo/2016/05/21/21/39/housebuilding-1407499_640.jpg") no-repeat center center /cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 575px;
            z-index: -1;
            opacity: 0.89;
        }

        @media (min-width: 1000px) {
            .home::before {
                height: 641px;
            }
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            .home::before {
                height: 763px;
            }
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .home::before {
                height: 971px;
            }
        }

        @media (max-width: 300px) {
            .home::before {
                height: 971px;
            }
        }

        h6 {
            background-color: yellow;
            display: inline;
            font-size: 15px;
            padding: 3px 4px;
        }

        .son {
            margin: 74px 16px;
            width: 43%;
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            .son {
                width: 90%;
            }
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .son {
                width: 90%;
            }
        }

        @media (max-width: 300px) {
            .son {
                width: 90%;
            }
        }

        .son h2 {
            margin-top: 1px;
            font-size: 50px;
            color: white;
        }

        .son span {
            color: yellow;
        }

        .son p {
            color: white;
            margin: 8px 5px;
        }

        /* .btn{
            display: flex;
        } */
        .num1 {
            margin: 9px 1px;
            padding: 8px 9px;
            background-color: rgb(255, 251, 21);
            /* color: ; */
            cursor: pointer;
        }

        .num1:hover {
            text-decoration: underline;
        }

        .num1 img {
            width: 29px;
            margin: -10px 1px
        }

        .num2 {
            margin: 9px 1px;
            padding: 8px 9px;
            background-color: rgb(0, 0, 0);
            color: white;
            cursor: pointer;
        }

        .num2:hover {
            text-decoration: underline;
        }

        .num2 img {
            width: 29px;
            margin: -10px 1px
        }

        .nom {
            display: flex;
            margin: 2px 1px;
        }

        .nom img {
            width: 20px;
            margin: -4px 5px;
        }

        .nom p {
            padding: 2px 5px;
        }



        /* section 2 */

        .aside {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: whitesmoke;
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            .box {
                flex-direction: column;
            }
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .box {
                flex-direction: column;
            }
        }

        @media (max-width: 300px) {
            .box {
                flex-direction: column;
            }
        }


        .aside h4 {
            background-color: yellow;
            padding: 4px 5px;
            margin-top: 16px;
        }

        .aside p {
            padding-bottom: 24px;
        }

        .box {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bun {
            background-color: white;
            border: 2px solid rgb(146, 139, 139);
            margin: 2px 2px;
            padding: 2px 2px;
            height: 279px;
            width: 22%;
            border-radius: 12px;
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            .bun {
                width: 77%;
            }
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .bun {
                width: 82%;
            }
        }

        @media (max-width: 300px) {
            .bun {
                width: 82%;
            }
        }

        .bun p {
            padding: 10px 4px;
            padding-bottom: 14px;
        }

        .bun h2 {
            padding: 1px 3px;
        }

        .bun img {
            width: 29px;
        }

        .bun button {
            border: none;
            background: none;
            margin: 5px 7px;
            cursor: pointer;
            /* border: none; */
        }

        .btn2 {
            margin: 14px 3px;
            padding: 12px 7px;
            background-color: yellow;
            cursor: pointer;
            border: none;
        }



        /* section 3 */

        .atem {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 90px 200px;
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            .atem {
                flex-direction: column;
                width: 42%;
                padding: 90px 112px;
                align-items: baseline;
                display: block;
                margin: auto;
            }
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .atem {
                flex-direction: column;
                width: 42%;
                padding: 90px 112px;
            }
        }

        @media (max-width: 300px) {
            .atem {
                flex-direction: column;
                width: 42%;
                padding: 90px 112px;
            }
        }

        .btn3 {
            width: 25%;
            margin: 21px 2px;
            padding: 11px 2px;
            background-color: yellow;
            border: none;
            cursor: pointer;
        }

        .doxy {
            margin: 35px 2px;
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            .doxyn {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .doxy h5 {
                width: 35%;
            }

            .btn3 {
                width: 69%;
            }
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .doxyn {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .doxy h5 {
                width: 35%;
            }

            .btn3 {
                width: 69%;
            }
        }

        @media (max-width: 300px) {
            .doxyn {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .doxy h5 {
                width: 45%;
            }

            .btn3 {
                width: 69%;
            }
        }

        .doxy h5 {
            background-color: yellow;
            width: 16%;
            padding: 3px 5px;
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            .doxy h5 {
                width: 55%;
            }

            /* 
            .doxy h1 {
                width: 35%;
            } */
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .doxy h5 {
                width: 45%;
            }

            /* .doxy h1 {
                width: 135%;
            } */
        }

        @media (max-width: 300px) {
            .doxy h5 {
                width: 45%;
            }

            /* .doxy h1 {
                width: 135%;
            } */
        }

        .doxy p {
            margin: 15px 1px;
            width: 106%;
            font-size: 23px;
        }

        .doxy h1 {}

        @media (min-width: 500px) and (max-width: 1000px) {
            .doxy h1 {
                width: 108%;
            }
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .doxy h1 {
                width: 138%;
            }
        }

        @media (max-width: 300px) {
            .doxy h1 {
                width: 138%;
            }
        }

        .kkk img {
            width: 294px;
            margin: auto;
            display: block;
        }

        .kkk h3 {
            text-align: center;
            margin: 9px 94px;
            background-color: black;
            color: white;
            display: flex;
            /* padding: 3px 8px; */
        }

        .kkk span {
            background-color: yellow;
            color: black;
            padding: 1px 8px;

        }

        .kkk p {
            /* margin: 23px 3px; */
            text-align: center;
        }



        /* section 4 */


        .containar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: whitesmoke;
        }

        .containar h4 {
            background-color: yellow;
            padding: 4px 7px;
            margin-top: 33px;
        }

        .boder {
            border: 2px solid white;
            /* border: 2px solid white; */
            margin: 32px 6px;
            padding: 43px 45px;
            width: 63%;
            background-color: white;
            border-radius: 34px;
        }

        .con img {
            width: 45px;
            margin: 17px 5px;
        }

        .con {
            display: flex;
        }

        .con h5 {
            margin: 19px 9px;
            font-size: 18px;
        }

        .con span {
            font-weight: 100;
            font-size: 14px;
        }

        .img img {
            width: 24px;
        }

        .boder p {
            margin: 12px 2px;
        }

        .containar button {
            margin-bottom: 49px;
            padding: 9px 12px;
            background-color: yellow;
            border: none;
            cursor: pointer;
        }




        /* section 5 */

        .doxyline {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 43px 200px;
            border: 2px solid black;
            margin: 58px 58px;
            background-color: black;
            color: white;
            border-radius: 18px;
            text-align: center;
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            .doxyline {
                margin: 30px 11px;
                padding: 43px 87px;
                width: 64%;
            }
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .doxyline {
                margin: 30px 11px;
                padding: 43px 57px;
                width: 64%;
            }
        }

        @media (max-width: 300px) {
            .doxyline {
                margin: 30px 11px;
                padding: 43px 57px;
                width: 64%;
            }
        }

        .doxyline h1 {
            margin-bottom: 12px;
        }

        .term {
            display: flex;
            margin: 14px 2px;
        }

        .term button {
            padding: 2px 22px;
            background-color: black;
            color: white;
            border: 2px solid black;
            cursor: pointer;
        }

        .term h3 {
            background-color: yellow;
            color: black;
            padding: 7px 7px;
            border-radius: 5px;
        }


        /* section 5 */
        .end {
            background-color: #1b1919;
            color: white;
        }

        .end1 {
            display: flex;
            /* justify-content: center;
            align-items: center; */
            margin: 3px 58px;
        }

        @media (min-width: 700px) and (max-width: 1000px) {
            .end1 {
                /* flex-direction: column; */
                align-items: center;
            }
        }

        @media (min-width: 300px) and (max-width: 700px) {
            .end1 {
                flex-direction: column;
                align-items: center;
            }
        }

        @media (max-width: 300px) {
            .end1 {
                flex-direction: column;
                align-items: center;
            }
        }

        .end3 {
            /* padding: 21px 70px; */
            width: 25%;
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            .end3 {
                padding: 18px 29px;
                /* width: 233%; */

            }

            .end p {
                width: 115%;
            }
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .end p {
                width: 238%;
            }

            .end3 h3 {
                width: 144%;
            }
        }

        @media (max-width: 300px) {
            .end3 {
                padding: 18px 56px;
            }

            .end3 h3 {
                width: 144%;
            }
        }

        .end3 h3 {
            margin: 10px 0px;
        }

        .end1 img {
            width: 29px;
            margin: 14px 6px;
        }

        .end1 span {
            color: yellow;
        }

        .end p {
            font-size: 13px;
            padding: 5px 5px;
        }

        .img-icon {}

        @media (min-width: 500px) and (max-width: 1000px) {
            .img-con {
                display: flex;
            }
        }

        @media (min-width: 300px) and (max-width: 500px) {
            .img-con {
                display: flex;
            }
        }

        @media (max-width: 300px) {
            .img-con {
                display: flex;
            }
        }